.file-list {
  overflow-y: auto;
  max-height: 250px;
  background-color: #FAFAFA;
  border: solid black 1px;
}

.left-icon {
  margin-right: 1em;
}

.right-icon {
  margin-left: 1em;
}
