/* Nav bar section */
ul.navbar-toggle{
    padding: 0px;
    margin: 0px;
    margin-right:15px;
    border:none;
    border-radius: 0px;
}
ul.navbar-toggle span{
    color:#337ab7;
    font-size:1em;
    border:none;
    padding: 15px;
}
ul.navbar-toggle li{
    top:0px;
    font-size: 16px;
    margin: 2px;
}

.navbar-nav > li > .dropdown-menu button {
    background: transparent;
    display: inline-block;
    width: 100%;
    border: 0;
}

/** Remove border and border shadow from nav-bar**/
.navbar-default {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    border: none!important;
}
/* Override Bootstrap navbar links - blue instead of grey */
.navbar-default {
    background-color: transparent!important;
    background-image: linear-gradient(to bottom, #fff 0, #fff 100%)!important;
}

.navbar-fixed-top {
    position:absolute;
    top:25px!important;
}

/* Parent Menus */
nav.navbar {
    min-height: 20px;
    margin-bottom: 0px;
}

.navbar-nav {
    float: right;
}

nav.navbar ul.nav>li>a,
nav.navbar ul.nav>li>button {
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    background: transparent;
    width: 100%;
    border: none;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>button {
    
}

/** Mobile Navbar Text Labels **/
.navbar-default .navbar-nav>li>a>span.mobileNavbarLabel {
    padding-left: 10px;
}

.navbar-default .navbar-nav>li:not(.disabled)>a>span.glyphicon,
.navbar-default .navbar-nav>li:not(.disabled)>button>span.glyphicon {
    top:0px;
    color: #337ab7;
}

.navbar-default .navbar-nav>li:disabled>a>span.glyphicon,
.navbar-default .navbar-nav>li:disabled>button>span.glyphicon {
    top:0px;
    color: #ddd;
}

nav.navbar ul.nav>li:not(.disabled) a:hover,
nav.navbar ul.nav>li:not(.disabled) button:hover {
    background-color: transparent;
    color: $product-color;
}

nav.navbar ul.nav>li:not(.disabled) a:focus,
nav.navbar ul.nav>li:not(.disabled) button:focus {
    background-color: transparent !important;
    color: #337ab7 !important;
}

nav.navbar ul.nav>li:not(.disabled) a:focus:hover,
nav.navbar ul.nav>li:not(.disabled) button:focus:hover {
    background-color: rgba(155, 155, 155, 0.25) !important;
    color: #2C527D !important;
}

nav.navbar ul.nav>li.selected {
    background-color: rgba(155, 155, 155, 0.25);
}

nav.navbar ul.nav>li.outlined {
    background-color: rgba(155, 155, 155, 0.25);
}
/*end Nav bar section */

div.geotoolkit-demo {
    position: absolute;
    bottom: 0px;
    top: 80px;
    left: 0px;
    right: 0px;
    border: 0px solid black;
    overflow: hidden;
}

div.geotoolkit-plot-host {
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    border: 0px solid black;
    overflow: hidden;
}
.installation-instructions {
    position: absolute;
    bottom: 0px;
    top: 80px;
    left: 0px;
    right: 0px;
    border: 0px solid black;
    overflow: hidden;
    -o-user-select: none;
    -moz-user-select: all;
    -webkit-user-select: auto;
    -ms-user-select: auto;
    -khtml-user-select: auto;
    user-select: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    white-space: wrap;
    color: #525252;
    line-height: 2;
    text-align: justify;
    -ms-text-justify: inter-word;
    text-justify: inter-word;
}
canvas.geotoolkit-plot {
    height: 100%;
    width: 100%;
    border: 0px solid #000000;
}

th {
    font-weight: normal;
}


.nav-tabs {
    background: #fff;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    margin-left: -1px;
    margin-bottom: -2px;
    color: #555;
    cursor: default;
    background-color: #F9F9F9!important;
    border: 1px solid #ddd!important;
    border-bottom-color: #F9F9F9!important;
    border-bottom-width: 2px!important;
}

#propertiesSideBar {
    z-index: 1999;
    display: none;
    background: rgba(248, 248, 248, 0.85);
    right: 0;
    top: 0px;
    width: 450px;
    bottom: 0px;
    position: absolute;

    overflow: auto;

    border-radius: 4px;
    border: solid 1px transparent;
    border-left-width: 1px;
    border-left-color: #DDDDDD;
}

#propertiesSideBar #subtabs {
    margin-top: -10px;
    margin-bottom: -10px;
}

#propertiesSideBar #tabscontent {
    padding-top: 10px;
}


/** Loading and tool tip section */

div.geotoolkit-tooltip-container {
    padding: 2px 12px 3px 7px;
    margin-left: 5px;
    background: #f6f6f6;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f7f7f7),
    to(#f8f8f8), color-stop(.5, #e3e3e3) );
    border: solid 1px gray;
    opacity: 0.8;
    text-align: left;
    color: #494949;
}

/* Absolute Center Spinner */
.loading {
    display: none;
    position: fixed;
    z-index: 999; /** subject to change, 999 is less than navigation bar*/
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.modal{
    background-color: hsla(0, 0%, 19%, 0.47);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

@media (min-width: 768px) {
    .modal-dialog {
        width:600px;
        margin: 30px auto
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
        box-shadow: 0 5px 15px rgba(0,0,0,.5)
    }

    .modal-sm {
        width: 300px
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width:900px
    }
}